[submodule "BaseStation-Classic"]
	path = BaseStation-Classic
	url = https://github.com/DCC-EX/BaseStation-Classic.git
[submodule "CommandStation-EX"]
	path = CommandStation-EX
	url = https://github.com/DCC-EX/CommandStation-EX.git
